//
//  StagingSecrets.xcconfig
//  Nos
//
//  Created by Matthew Lorentz on 3/13/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

POSTHOG_API_KEY = 
UNS_AUTH_CONNECTION_URL =
UNS_CONNECTION_URL =
UNS_CLIENT_ID =
UNS_CLIENT_SECRET =
UNS_ORG_CODE =
UNS_API_KEY =
SENTRY_DSN =
