//
//  StagingSecrets.xcconfig
//  Nos
//
//  Created by Matthew Lorentz on 3/13/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

POSTHOG_API_KEY = 
UNS_AUTH_CONNECTION_URL = auth-api-sandbox.universalname.space
UNS_CONNECTION_URL = api-sandbox.universalname.space
UNS_CLIENT_ID = pk_cid_c890bb73-5093-4dea-86ef-e1b174172442
UNS_CLIENT_SECRET = NUp6kcMbMo9ASHZvatnHdlop7LASsYwSWEvYtWjFtm1WbyHhmtc3ftLYI4Qm6vA365CAesfuKgIKuiCw35dhbw
UNS_ORG_CODE = VERSE_C
UNS_API_KEY = 01n0mljnyROe4XUd2hxHdEEZUJ01erUtXI_NY21Lxl4
