<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(SCHEME_PREFIX)</string>
				<string>nostr</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>POSTHOG_API_KEY</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>UIAppFonts</key>
	<array>
		<string>ClarityCity-Black.otf</string>
		<string>ClarityCity-BlackItalic.otf</string>
		<string>ClarityCity-Bold.otf</string>
		<string>ClarityCity-BoldItalic.otf</string>
		<string>ClarityCity-ExtraBold.otf</string>
		<string>ClarityCity-ExtraBoldItalic.otf</string>
		<string>ClarityCity-ExtraLight.otf</string>
		<string>ClarityCity-ExtraLightItalic.otf</string>
		<string>ClarityCity-Light.otf</string>
		<string>ClarityCity-LightItalic.otf</string>
		<string>ClarityCity-Medium.otf</string>
		<string>ClarityCity-MediumItalic.otf</string>
		<string>ClarityCity-Regular.otf</string>
		<string>ClarityCity-RegularItalic.otf</string>
		<string>ClarityCity-SemiBold.otf</string>
		<string>ClarityCity-SemiBoldItalic.otf</string>
		<string>ClarityCity-Thin.otf</string>
		<string>ClarityCity-ThinItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UNS_API_KEY</key>
	<string>$(UNS_API_KEY)</string>
	<key>UNS_AUTH_CONNECTION_URL</key>
	<string>$(UNS_AUTH_CONNECTION_URL)</string>
	<key>UNS_CLIENT_ID</key>
	<string>$(UNS_CLIENT_ID)</string>
	<key>UNS_CLIENT_SECRET</key>
	<string>$(UNS_CLIENT_SECRET)</string>
	<key>UNS_CONNECTION_URL</key>
	<string>$(UNS_CONNECTION_URL)</string>
	<key>UNS_ORG_CODE</key>
	<string>$(UNS_ORG_CODE)</string>
	<key>WALLET_CONNECT_PROJECT_ID</key>
	<string>$(WALLET_CONNECT_PROJECT_ID)</string>
</dict>
</plist>
